/***** Responsável por modificações gerais na página *****/
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

@media screen and (min-width: 769px) {
    /***** Responsável pelo menu da página *****/ 
    header {
        background-color: #C4C4C4;
        height: 7em;
    }

    #titulo {
        float: left;
        margin: 37px 0px 2.9% 6%;
    }

    #div-menu{
        margin-right: 5%;
    }

    #menu {
        float: right;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .item-menu {
        margin-top: 10%;
    }

    .link-menu {
        display: block;
        padding: 0.3rem 1rem;
        text-decoration: none;
        font-size: 1.3em;
        color: black;
        border-radius: 10px;
    }

    .link-menu:hover {
        background-color: black;
        color: white;
        transition: 0.5s;
    }

    /***** Responsável pela estilização do conteúdo principal da página *****/
    main {
        clear: both;
    }

    /* Primeira sessão */
    #container1 {
        background: #F3F3F3;
        width: 100%;
        margin-bottom: 5%;
        display: flex;
    }

    #img {
        float: left;
        width: 43%;
        height: 100%;
        justify-content: right;
        display: flex;
    }

    .img-fazollo {
        border-radius: 100%;
        width: 247px;
        height: 247px;
        padding: 10%;
    }

    #descricao {
        float: right;
        width: 40%;
        height: 100%;
        padding: 3%;
    }

    #descricao h3 {
        margin: 15% 0 3% 0;
    }

    /*** Segunda Sessão ***/
    /* 1° Parte*/
    #container2 {
        clear: both;
        float: left;
        width: 40%;
        height: auto;
        margin-top: -2.5%;
        margin-left: 10%;
        text-align: right;
    }

    #hobbies h3 {
        margin-right: 2.5%;
    }

    #hob {
        display: -ms-flexbox;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        list-style: none;
    }

    .hob-item {
        display: block;
        padding: 1% 1%;
        text-decoration: none;
        color: black;
    }

    .hob-img {
        width: 80px;
        height: 120px;
        border-radius: 10px;
    }

    .column#caption {
        position: relative;
    }
    .column#caption .text {
        position: absolute;		
        bottom: 230%;		
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        opacity: 0;		
    }
    .column#caption .text{		
        margin: 0;		
        color: black;
        font-weight: bold;
    }
    .column#caption:hover .text {
        opacity: 1;
        cursor: pointer;
    }

    .column#caption:hover img {
        opacity: 0.12;
        transition: 0.5s;
        cursor: pointer;
    }

    /* 2° Parte */
    #container3 {
        float: right;
        width: 40%;
        height: auto;
        margin-top: -2.5%;
        margin-bottom: 3.5%;
        margin-right: 8%;
    }

    #top5 h3 {
        margin-left: 2.5%;
    }

    /***** Responsável pelo rodapé da página *****/
    footer {
        background-color: #C4C4C4;
        box-shadow: 0px 0px 3px 0px;
        clear: both;
        display: flex;
        justify-content: space-between;
        padding: 2%;
    }

    #links-do-rodape {
        margin-left: 5%;
    }

    .link-rodape {
        text-decoration: none;
        font-size: 150%;
        color: black;
        border-radius: 10px;
        padding: 10px;
    }

    .link-rodape:hover {
        background-color: black;
        color: white;
        transition: 0.5s;
    }

    #contato {
        margin-top: 0.5%;
    }

    .btn {
        color: black;
        text-decoration: none;
        border: 1px #DFDFDF;
        background-color: #DFDFDF;
        padding: 0.3rem 0.5rem;
        border-radius: 4px;
    }

    .btn:hover {
        background-color: black;
        color: white;
        transition: 0.5s;
    }
}

@media screen and (max-width: 768px) {
    /***** Responsável pelo menu da página *****/ 
    header {
        background-color: #C4C4C4;
        margin-top: 0;
        height: auto;
        display: block;
    }

    #titulo {
        text-align: center;
    }

    #menu {
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        justify-content: center;
    }

    .item-menu {
        margin-top: 5%;
    }

    .link-menu {
        display: block;
        padding: 0.3rem 0.5rem;
        text-decoration: none;
        font-size: 1.3em;
        color: black;
        border-radius: 10px;
    }

    .link-menu:hover {
        background-color: black;
        color: white;
        transition: 0.5s;
    }

    /***** Responsável pela estilização do conteúdo principal da página *****/
    /* Primeira sessão */
    #container1 {
        background: #F3F3F3;
        width: 100%;
        height: auto;
        margin-bottom: 5%;
        display: inline-block;
        text-align: center;
    }

    #img {
        width: 43%;
        height: 100%;
        justify-content: center;
        display: flex;
    }

    .img-fazollo {
        border-radius: 100%;
        width: 247px;
        height: 247px;
        position: relative;
        top: 15%;
        left: 70%;
        margin-top: 8%;
    }

    #descricao {
        width: 40%;
        height: 100%;
        margin-top: 2.5%;
        margin-right: 13%;
        margin-left: 15%;
        display: inline-block;
        text-align: center;
    }

    #descricao h3 {
        margin: 8% 0 4% 0;
    }

    /*** Segunda Sessão ***/
    /* 1° Parte*/
    #container2 {
        width: 100%;
        height: auto;
        margin-top: -2.5%;
        text-align: center;
    }

    #hob {
        display: -ms-flexbox;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        list-style: none;
    }

    .hob-item {
        display: block;
        padding: 1% 1%;
        text-decoration: none;
        color: black;
    }

    .hob-img {
        width: 80px;
        height: 120px;
        border-radius: 10px;
    }

    .column#caption {
        position: relative;
    }
    .column#caption .text {
        position: absolute;		
        bottom: 230%;		
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        opacity: 0;		
    }
    .column#caption .text{		
        margin: 0;		
        color: black;
        font-weight: bold;
    }
    .column#caption:hover .text {
        opacity: 1;
        cursor: pointer;
    }

    .column#caption:hover img {
        opacity: 0.12;
        transition: 0.5s;
        cursor: pointer;
    }

    /* 2° Parte */
    #container3 {
        width: 100%;
        height: auto;
        margin-top: 2.5%;
        margin-bottom: 3.5%;
        text-align: center;
    }

    #top5 h3 {
        margin-left: 2.5%;
    }

    /***** Responsável pelo rodapé da página *****/
    footer {
        background-color: #C4C4C4;
        box-shadow: 0px 0px 3px 0px;
        display: block;
        text-align: center;
        height: 80px;
    }

    #links-do-rodape {
        padding-top: 2%;
    }

    .link-rodape {
        padding: 0.4rem;
        text-decoration: none;
        font-size: 19px;
        color: black;
        border-radius: 10px;
    }

    .link-rodape:hover {
        background-color: black;
        color: white;
        transition: 0.5s;
    }

    #contato {
        margin-top: 3%;
    }

    .btn {
        color: black;
        text-decoration: none;
        border: 1px #DFDFDF;
        background-color: #DFDFDF;
        padding: 0.3rem 0.5rem;
        border-radius: 4px;
    }

    .btn:hover {
        background-color: black;
        color: white;
        transition: 0.5s;
    }
}